.header {
    border-style: solid;
    margin-bottom: 30px;
}

.menu {
    border-style: solid;
    margin-bottom: 30px;
}

.focus {
    border-style: solid;
    display: flex;
    flex-flow: row wrap;
    width: 1200px;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-bottom: 30px;
}

.allNewsStyle {
    border-style: solid;
    display: flex;
    flex-flow: row wrap;
    width: 1200px;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
}

.newsClass {
    width: 350px;
    display: flex;
    border-style: solid;
    align-items: center;
    flex-direction: column;
    flex: 0.2;
    margin-right: 10px;
    margin-bottom: 10px;
}

.newsClass img {
    width: 350px;
    height: 350px;
}